*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;
    overflow-x: hidden; /* Impede rolagem horizontal */
}

.conteudo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: right;
}

.textos {
    width: 600px;
}

h2 {
    color: #333;
    font-size: 40px;
    font-weight: bold;
}

span {
    color: #017143;
    font-size: 70px;
    font-weight: 800;
}

p {
    font-size: 16px;
}

button {
    background: #017143;
    color: white;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-top: 20px;
    transition: 0.5s;
}

button:hover {
    background-color: #01bc6e;
}

.imagem {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-top: -80px;
}

.menu {
    display: flex;
    justify-content: center;
    margin-top: -65px;
}

.botao-menu {
    width: 60px;
    cursor: pointer;
}

.circulo {
    background: #017143;
    width: 700px;
    height: 700px;
    position: absolute;
    top: -140px;
    right: -200px;
    border-radius: 51%;
    z-index: -1;
    transition: background 0.5s;
    overflow: hidden;
}

.logo {
    width: 80px;
}

.imagem-copo {
    width: 340px;
}
